p {
  color: #e4e4e4;
  font-size: 1.5rem;
}

span {
  color: #ff0000;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border: solid 4px #754444;
  margin: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading {
  font-size: 4rem;
  color: #ff0000;
  margin: 2rem 0;
}

.button-buffer {
  margin: 2rem 0;
}

.go-back {
  margin: 2rem 0;
  padding: 0;
}

.exclaim {
  font-size: 2rem;
}
